@model L01P02_2020_SM_602_2020_ML_601_RESTAURANTE.Models.pedidos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>pedidos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="pedidold" />
            <div class="form-group">
                <label asp-for="motoristald" class="control-label"></label>
                <input asp-for="motoristald" class="form-control" />
                <span asp-validation-for="motoristald" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clienteld" class="control-label"></label>
                <input asp-for="clienteld" class="form-control" />
                <span asp-validation-for="clienteld" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="platold" class="control-label"></label>
                <input asp-for="platold" class="form-control" />
                <span asp-validation-for="platold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantidad" class="control-label"></label>
                <input asp-for="cantidad" class="form-control" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
